.navbar {
    padding: 50px;
  }
  .btn-primary {
    background-color: blueviolet;
    &:hover {background-color:rgb(123, 68, 173);}
    }

    .nav-link {
      color: blueviolet;
    }

    .regalaexperiencia {
      color: blueviolet;
    }

.descripcionsession {
    padding: 20px;
}


.regalaexperiencia {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 300;
}

.bronce {
    color: aliceblue;
    margin: 2px;
    padding: 50px;
    background-color: rgb(121, 101, 48);
    &:hover {background-color:rgb(123, 68, 173);}
}
.descripcionbronce {

    font-weight: bold;
    font-size: 1.2rem;
    margin: 300;
}

.beneficiobronce{
    padding: 500;
    margin: 500;
    text-align: center;
    justify-content: center;
}

.plata {
    color: aliceblue;
    margin: 2px;
    padding: 50px;
    gap: 1px
    ;
    background-color: rgb(135, 135, 135);
    &:hover {background-color:rgb(123, 68, 173);}
}
.descripcionplata {

    font-weight: bold;
    font-size: 1.2rem;
    margin: 300;
}

.beneficioplata{
    padding: 500;
    margin: 500;
    text-align: center;
    justify-content: center;
}

.oro {
    color: aliceblue;
    margin: 2px;
    padding: 50px;
    background-color: rgb(255, 196, 46);
    &:hover {background-color:rgb(123, 68, 173);}
}
.descripcionoro {

    font-weight: bold;
    font-size: 1.2rem;
    margin: 300;
}

.beneficiooro{
    padding: 500;
    margin: 500;
    text-align: center;
    justify-content: center;
}